<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/mylist.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <title>My List</title>

  </head>
  <body>
       <div class="container">
         <div class="navbar">
        
          <nav>
            <ul>
              <li>
                <%- include('../partials/_navbar.ejs') %>
              </li>
            </ul>
          </nav>

        
         </div>

         <div class="row">
          <div class="col">
            <h1>My List</h1>
              
            <button type="button"> <a href="/users/<%=user._id%>/books/new/">Add a New Book</a></button>
          </div>
          <div class="col">

           
            <% books.forEach((book)=> { %>
              <div class="card">
                <a href="/users/<%= user._id %>/books/<%= book._id %>">
                  <%= book.name %> 
                </a>
              </div>
            <% }) %>
          </div>
         </div>
       </div>
  </body>
</html>